<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>CalcServlet</display-name>
    <servlet-name>CalcServlet</servlet-name>
    <servlet-class>ex201995020.CalcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcServlet</servlet-name>
    <url-pattern>/Calc</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>ex201995020.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <display-name>Middle_exam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>resultServlet</display-name>
    <servlet-name>resultServlet</servlet-name>
    <servlet-class>ex201995020.resultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resultServlet</servlet-name>
    <url-pattern>/result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingupServlet</display-name>
    <servlet-name>SingupServlet</servlet-name>
    <servlet-class>ex201995020.SingupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingupServlet</servlet-name>
    <url-pattern>/Singup</url-pattern>
  </servlet-mapping>
</web-app>