<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Chapter08</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>firstServlet</display-name>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>sec01.ex01.firstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet</servlet-name>
    <url-pattern>/first1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>secondServlet</display-name>
    <servlet-name>secondServlet</servlet-name>
    <servlet-class>sec01.ex01.secondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet</servlet-name>
    <url-pattern>/second1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>sec02.ex02.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetServletContent</display-name>
    <servlet-name>SetServletContent</servlet-name>
    <servlet-class>sec03.ex01.SetServletContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetServletContent</servlet-name>
    <url-pattern>/cset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServletContent</display-name>
    <servlet-name>GetServletContent</servlet-name>
    <servlet-class>sec03.ex01.GetServletContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServletContent</servlet-name>
    <url-pattern>/cget</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>menu_member</param-name>
    <param-value>회원등록	회원조회	회원수</param-value>
  </context-param>
  <context-param>
    <param-name>menu_order</param-name>
    <param-value>주문조회 주문등록 주문수정 주문취소</param-value>
  </context-param>
  <context-param>
    <param-name>menu_goods</param-name>
    <param-value>상품조회 상품등록 상품수정 상품삭제</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ContextParamServlet</display-name>
    <servlet-name>ContextParamServlet</servlet-name>
    <servlet-class>sec03.ex02.ContextParamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextParamServlet</servlet-name>
    <url-pattern>/initMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextFileServlet</display-name>
    <servlet-name>ContextFileServlet</servlet-name>
    <servlet-class>sec03.ex03.ContextFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextFileServlet</servlet-name>
    <url-pattern>/cfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitParamServlet</display-name>
    <servlet-name>InitParamServlet</servlet-name>
    <servlet-class>sec04.ex01.InitParamServlet</servlet-class>
    <init-param>
      <description>Email Address</description>
      <param-name>email</param-name>
      <param-value>kimy@email.com</param-value>
    </init-param>
    <init-param>
      <description>telephone</description>
      <param-name>tel</param-name>
      <param-value>010-1234-5678</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParamServlet</servlet-name>
    <url-pattern>/sinit</url-pattern>
    <url-pattern>/sinit2</url-pattern>
  </servlet-mapping>

</web-app>